html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: "OpenSans";
}

main, section {
  height: 100%;
}

#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#view-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 400px;
  z-index: 9999;
}

#view-toggle label {
  cursor: pointer;
}

#chart-overlay  {
  height: 40%; 
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

#map-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


.infoBox {
  .column {
    vertical-align: top;
    padding: 10px;
    width: 110px;
    display: inline-block;
  }

  h2 {
    margin: 0;
  }

  span.causa {
    display: block;
    font-size: 15px;
  }

  span.number {
    margin-left: 4px;
    font-size: 30px;
    vertical-align: top;
  }

  img {
    width: 20px;
    padding: 3px;
  }

  .icon {
    top: 2px;
    position: relative;
    width: 40px;
    padding: 0;
  }
}