= haml(:header, :layout => false)
%main 
  %section
    %div#logo
      %img{src: "images/logo.png", alt: "Rodovias BR"}
    %div#view-toggle
      %label.switch-light.switch-candy{onclick: ''}
        %input#showRoads{type: 'checkbox', onchange: 'changeViews()'}
        %span
          %span Estados
          %span Rodovias
        %a
    %div#map-legend
      %h3 LEGENDA
      %span.color
      %span.color
      %span.color
      %span.color
      %span.numbers
        10&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;500&nbsp;&nbsp;1000
    %div#map-spinner
    %div#map-canvas
    %div#slider-container
      %div#slider
    %div#chart-overlay.white-popup.mfp-hide
      %svg
= haml(:footer, :layout => false)
