= haml(:header, :layout => false)
%main 
  %section
    %div#logo
      %img(src="images/logo.png")
    %div#view-toggle
      %label.switch-light.switch-candy{onclick: ''}
        %input#showRoads{type: 'checkbox', onchange: 'changeViews()'}
        %span
          %span Estados
          %span Rodovias
        %a
    %div#map-spinner
    %div#map-canvas
    %div#slider-container
      %div#slider
    %div#chart-overlay{style: 'display: none;'}
      %svg
= haml(:footer, :layout => false)
