body {
	font: normal 15px Helvetica;
	background: #f7f7f7;
	color: rgb(1, 116, 1);
}

h3 {
	font-size: 2em;
	font-weight: normal;
	margin: 20px;
	text-align: center;

}

svg {
	height: 200px;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

svg line {
	display: none;
}

svg text {
	font: normal 14px Helvetica;
}

/*table*/


table { 
	border: 1px solid #eee;
	background: #fff; 
	margin: 0 auto;
	margin-top: 20px;
	border-collapse: collapse;
	font-size: 1em;
}



.chart {
	background: rgb(1, 116, 1);
	color: white;
	display: block;
	text-align: center;
	font-size: 0.7em;
}

tbody tr:nth-child(2n+1) { 
	background: #f7f7f7;
}

th {
	color: #E1B332;
	padding: 5px 10px;
	font-size: 2em;
	font-weight: bolder; 
}

tbody tr:hover { 
	background: #fffde1; 
}

td, th { 
	position: relative;
	padding: 10px;
	font-size: 1.4em;
	line-height: 1.4em;
	text-align: center;
}